#Try to us a Secret Manager or Vault to store  the secret
MONCASH_CLIENT_ID=<string:your-client-id>
MONCASH_CLIENT_SECRET=<string:your-client-secret>
MONCASH_BUSINESS_KEY=<string:yourbuisiness-key>
# Enum:sandbox, production. Default: 'sandbox'
MONCASH_MODE=sandbox
# Enum: en, fr, ht. Defualt 'en'
MONCASH_LANG=en
# Name of implementation `\Fruitsbytes\PHP\Moncash\Strategy\TokenMachine\TokenMachineInterface`. Default: `DefaultTokenMachine`
MONCASH_TOKEN_MACHINE=
# Name of `\Fruitsbytes\PHP\Moncash\Strategy\SecretManager\SecretManagerInterface` implementation. Default Default: `DefaultSecretManager`
MONCASH_SECRET_MANAGER=
